{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <p>
    <a href="{% url 'main:show_main' %}" 
        class="bg-yellow-400 text-black px-6 py-2 rounded-full font-semibold transition-all duration-300 hover:bg-red-500 hover:text-white hover:scale-105 inline-block">
        ← Back to Product List
    </a>
    </p>
    <h1 class="text-3xl font-bold mt-6">{{ product.name }}</h1>
    <p class="text-sm text-gray-600 my-2">
        <b>{{ product.get_category_display }}</b>
        {% if product.is_featured %} | <b>Featured</b>{% endif %} | 
        <i>{{ product.created_at|date:"d M Y, H:i" }}</i> | Views: {{ product.product_views }}
    </p>
    {% if product.thumbnail %}
        <img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300" class="mb-4">
    {% endif %}
    <p class="text-gray-800 mb-2">{{ product.description }}</p>
    <p class="text-sm text-gray-600">Stock available: {{ product.stock }}</p>
</div>
{% endblock content %}
